.body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  
}
a {
  margin: 5px;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
nav {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-right: 10px;
}
ul > a,
ul > img {
  padding: 0 8px;
}
.header-img:hover {
  box-shadow: 0 0 10px gainsboro;
  border-radius: 200px;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 5vh; */
 
}
 /* @font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/productsa...) format("woff2"); 
 }  */
/* h1 {
  font-family: Product Sans;
  font-size: 5.5em;
} */
h1{
  padding-top: 60px;
}
.my-input-container {
  display: flex;
  justify-content: space-between;
 
  width: 600px;
  height: 38px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}
/* .my-input-container:hover { */
  /* box-shadow: 0 0 20px 0 gainsboro; */
 /* }  */
/* .my-input-container > input {
   */
  /* border: none;
  outline: none; */
  /* margin-right: 30px; */
/* }  */

 /* img:hover {
  cursor: pointer;
}   */
.my-button-container {
  padding-top: 33px;
  justify-content: space-between;
  
  
}
button {
  background-color: white;
  border-radius: 5px;
  border: none;
  /* padding: 0 50px; */
  margin: 0 50px;
  
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 gray;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px;
  justify-content: center;
  row-gap: 60px;
  column-gap: 60px;
  
}
.grid-item > img {
  max-width: 100%;
  display: block;
  margin-top: 60px;
  padding-right: 50px;
  border-radius: 10px;
  
}
  

/* footer {
  background: color #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
#footer-left {
  display: flex;
  justify-self: start;
  padding-left: 20px;
  align-items: center;
}
#footer-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
} */



@media (max-width: 630px){
#footer-nav{
    flex-direction:column;
}
#footer-left{
justify-content: center;
}
}
#footer-right{
justify- content:center;
}
}

<!--for the search bar not to go out off view-->

.my-input-container{
     width:95vw
}@media (max-height: 522px){
 body{
  overflow-x : hidden;
}
section {
  margin-botton: 20px;
}
footer {
position: relative 


<!--when both hieght and width are changed-->

@media (max-height:570px) and (max-width:600px){
body {
over flow-x:hidden;
}
section {
margin-botton: 13px;
}
footer {
    position: realtive;
}
}

  
  
 
